.wedding-image {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.clayton-and-maria-wedding-image {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.wedding-details-card {
  position: relative;
  top: -120px;
  padding: 20px;
  margin-bottom: -120px;
  width: 80%;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 1px 2px 1px 3px lightgrey;
}

.guest-message-card {
  border-radius: 10px;
  width: 140px;
  height: 260px;
  margin: 20px 7px;
  box-shadow: 0 1px 0 2px lightgrey;
}

.add-message-card {
  border-radius: 10px;
  width: 140px;
  height: 260px;
  margin: 20px 7px;
  box-shadow: 0 1px 0 2px lightgrey;
  background-image: linear-gradient(to right top, #2e8f6d, #379575, #409a7d, #48a085, #51a58d, #58a992, #5fae98, #66b29d, #6db6a1, #74baa6, #7bbfaa, #82c3af);
}

.top-right-card-icon {
  position: absolute;
  top: -20px;
  right: 25px;
  font-size: 45px;
  color: lightgray;
}

.view-menu-button {
  border-radius: 15px;
  background-image: linear-gradient(to right top, #2e8f6d, #379575, #409a7d, #48a085, #51a58d, #58a992, #5fae98, #66b29d, #6db6a1, #74baa6, #7bbfaa, #82c3af);
}

